@import 'bourbon';
@import 'base';
@import 'neat';

$brand-blue: #236FAD;
$brand-dark-blue: #0A3451;

@mixin fake-height {
  padding-top: 3em;
  padding-bottom: 3em;
}

.wrapper-header {
  @include fake-height;
  background: $brand-blue;
  color:white;
}

.wrapper-footer {
  background: $brand-dark-blue;
  color: white;
}
