
<div class="wrapper wrapper-header">
  <div class="container container-header">
    <h1>Surf &amp; Paddle Co.</h1>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="container container-content">
    <div class="row">
      <div class="col-md-8">
        <h2>A FANTASTIC...</h2>
        <p>Here is where your content is going to go.</p>
      </div>
      <div class="col-md-4">
        sidebarr.
      </div>
    </div>

  </div>
</div>
<div class="wrapper wrapper-popular">
  <div class="container container-popular">
    <h2>Most Popular Posts</h2>
  </div>
</div>

<div class="wrapper wrapper-footer">
  <div class="container container-footer">
    footer crap
  </div>
</div>

